.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons {
    display: flex;
}

.screen-header__dot {
    position: relative;
}

.Top_dot {
    position: absolute;
    left: 25px;
    bottom: 16px;
}